*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

main{
  border: 1px solid black;
}

header{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
}

.header-top{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
  padding: 20px 0;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid blue
}
  

.row{
  display: flex;
  padding: 10px 0;
  border: 1px solid green;
}

.header-top .navbar .row{
  align-items: center;
  justify-content: space-between;
}

.row .column{
  border: 1px solid black;
  padding: auto;
  margin: auto;

}
.header-bottom .description{
  text-align: center;
  padding: 80px 150px;

}

.row .column ul{
  display: flex;
}

.header-top .navbar .row ul a{
  padding: 0 15px;

}


.header-bottom .description .title{
  justify-content: center;
}

.feature{
  display: flex;
  margin: auto;
  padding: 80px 120px;
  justify-content: center;
}

main .feature .text{
  width: 45%;
}

main .feature .image{
  width: 50%;
}

main .gray{
  background-color: lightgray;
  
}

section.feature.gray.cta{
  flex-direction: column;
}

section.feature.gray.cta .row{
  justify-content: center;
  padding-bottom: 30px;
  text-align: center;
}

footer{
  padding: 0 120px;
  background-color: darkgray;
}

footer .footer-top{
  display: flex;
  padding: 20px;

}

footer .footer-top .container.link{
  width: 15%;
  padding: 20px;
}

footer .footer-top .container.social{
  width: 30%;
  padding: 10px;
}

footer .footer-bottom{
  display: flex;
}

footer .footer-bottom .container.navbar .row{
  justify-content: space-between;
}
